<div id="accountsInfoContainer">
  <div id="accountInfoTitle">Account Info</div>
  <hr color= "#007DC3">
  <div class="accountInfoDiv" ng-repeat="account in view.account">
    <div class="subInfoTitle">Account Name</div>
    <div class="accountInfo"> {{account.name}} </div>
    <div class="subInfoTitle">Phone</div>
    <div class="accountInfo"> {{account.phone}} </div>
    <div class="subInfoTitle">Main Contact</div>
    <div class="accountInfo"> {{account.contact}} </div>
    <div class="subInfoTitle">Address</div>
    <div class="accountInfo" id="street"> {{account.street_address}} </div>
    <div class="accountInfo"> {{account.city}}, {{account.state}} {{account.zip_code}}</div>
  </div>
</div>
