<div id="accountsInfoContainer">
  <div id="accountInfoTitle">Account Info</div>
  <hr color= "#007DC3">
  <div class="accountInfoDiv">
    <div class="subInfoTitle">Account Name</div>
    <div class="accountInfo"> {{accounts.name}} </div>
    <div class="subInfoTitle">Phone</div>
    <div class="accountInfo"> view.accounts.phone </div>
    <div class="subInfoTitle">Main Contact</div>
    <div class="accountInfo"> views.accounts.contact </div>
    <div class="subInfoTitle">Address</div>
    <div class="accountInfo" id="street"> views.accounts.street </div>
    <div class="accountInfo"> views.accounts.city + ", "  views.accounts.state + " " views.accounts.zip</div>
  </div>
</div>
