<div id="orderContainer">
  <div id="orderTitle">Order</div>
  <hr color= "#007DC3">
  <div ng-repeat="account in view.account" id="orderAccount">{{ account.name }}</div>
  <div class="beerDiv">
    <table>
      <tr class="borderBottom">
        <th>Package</th>
        <th>Inv. 8/11</th>
        <th>Inv. 8/18</th>
        <th>Inv. 8/25</th>
        <th>Inv. 9/1</th>
        <th>Today</th>
        <th>Order Quantity</th>
      </tr>
      <tr order-math ng-repeat= "info in view.accountInfo">
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>Total Cases</td>
        <td id="orderTotal">{{ view.orderTotal }}</td>
      </tr>
    </table>
      <a href="?#/route"><input type="button" value="Submit Order" id="submitButton"></a>
  </div>
</div>
