body {
  background-image: url(/images/BeerCooler.jpg);
  background-size: 100vw;
  width: auto;
  margin: 0;
  font-family: 'Cabin', sans-serif;
}
 /*Header styling*/
 header {
  display: flex;
  width: 100vw;
  height: 80px;
  background-color: rgba(0, 0, 0, 0.75);
  align-items: center;
  justify-content: space-between;
}
#order {
  font-size: 32px;
  color: #D95C02;
  margin-left: 30px;
}
#zip {
  font-size: 32px;
  color: white;
}
#navLinks {
  display: flex;
}
.link {
  font-size: 16px;
  color: white;
  margin-right: 30px;
}
.link:hover {
  color: #D95C02;
}

a {
  text-decoration: none;
}

/*landing page styling*/

#signInContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 45vh;
  margin: auto;
  margin-top: 50px;
  background-color: rgba(0, 0, 0, 0.75);
}
#signInTitle {
  margin-top: 30px;
  margin-bottom: 20px;
}
#sign {
  color: #D95C02;
  font-size: 32px;
}
#in {
  color: white;
  font-size: 32px;
}
.signInInput {
  margin-bottom: 20px;
  font-size: 20px;
  border: none;
  padding-left: 5px;
}
#signInButton {
  color: white;
  background-color: #D95C02;
  width: 120px;
  height: 30px;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
#signInButtonDiv {
  display: flex;
  justify-content: center;
}

/*routes page styling*/

#routesContainer {
  width: 80vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.75);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
hr {
  width: 90%;
  margin-bottom: 30px;
}
#routesTitle {
  color: white;
  font-size: 34px;
  text-align: center;
  padding-top: 30px;
}
.accountDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 25px;
}
.routeAccount {
  color: #D95C02;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}
.routeLinksLeft {
  color: white;
  margin-right: 10px;
}
.routeLinksRight {
  color: white;
  margin-left: 10px;
}
.routeLinksLeft:hover {
  color: #007DC3;
}
.routeLinksRight:hover {
  color: #007DC3;
}

/*Account info styling*/

#accountsInfoContainer {
  width: 80vw;
  height: 80vh;
  background-color: rgba(0, 0, 0, 0.75);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
}
#accountInfoTitle {
  color: white;
  font-size: 34px;
  text-align: center;
  padding-top: 30px;
}
.subInfoTitle {
  color: #D95C02;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
}
.accountInfo {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-bottom: 25px;
}
#street {
  margin-bottom: 5px;
}

/*Order page styling*/

#orderContainer {
  width: 80vw;
  height: auto;
  background-color: rgba(0, 0, 0, 0.75);
  margin: auto;
  margin-top: 50px;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
#orderTitle {
  color: white;
  font-size: 34px;
  text-align: center;
  padding-top: 30px;
}
#orderAccount {
  color: #D95C02;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}
table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
}
th {
  color: white;
  font-size: 20px;
  padding: 3px;
  border-bottom: 1px solid #D95C02;
  margin-bottom: 30px;
}
td {
  color: white;
  font-size: 14px;
  padding: 3px;
  text-align: center;
  border-bottom: 1px solid #D95C02;
}
table input {
  width: 40px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}
#orderTotal {
  height: 35px;
}
#submitButton {
  display: flex;
  justify-content: center;
  margin: auto;
  background-color: #D95C02;
  font-size: 16px;
  color: white;
  width: 140px;
  height: 35px;
  border-radius: none;
  margin-top: 40px;
  margin-bottom: 20px;
  border-style: none;
}
#submitButton:hover {
  background-color: #007DC3;
  cursor: pointer;
}
